.circleci/
node_modules/
.vscode/
docs/
bin/
lib/
notebooks/
src/
tests/
Dockerfile
.all-contributorsrc
.editorconfig
.gitpod.dockerfile
.gitpod.yml
.npmignore
.releaserc
.Xbooksrc
.Xbooksignore
package-lock.json
package.json