body{
    background-color: rgb(32, 32, 32);
}

.tools-pallete{
    margin: 5px 22vw;
}

header{
    height:60px;
}

#explorer{
    background-color: rgb(24, 26, 27,0.5);
    color: rgb(200, 192, 188);
}

#real{
    cursor: pointer;
}

#loading-text{
    color: white;
    text-align: center;
}

#loading-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 512px;
    margin-top: auto;
    margin-bottom: auto;
    height: 512px;
}

#xbooks-ad{
    float: right; cursor: pointer;; color: snow; font-size: 18px; font-family:'Courier New', Courier, monospace
}

#real-a-explorer{
    --link-color:rgb(100, 172, 232) !important; --link-color-hover:rgb(126, 187, 236) !important;
					--link-color-active:rgb(100, 172, 232) !important; --visited-color:rgb(148, 100, 232) !important;
					--visited-color-hover:rgb(29, 28, 32) !important; --visited-color-active:rgb(148, 100, 232)
					!important;
}

.virtual{
    cursor: pointer;
}

.tool_buttons{
    border-radius: 5px 5px;
    border: rgb(63, 63, 63) solid 4px;
    box-shadow: black 3px 3px 3px;
    color: black;
    background-color: rgb(136, 135, 135);
    font-family: monospace;
    width: 93px;
    height: 37px;
}

#Xdisplay{
    display: none;
    margin: 0 -10vw;
    outline: none;
    border: none;
    height: 85vh;
    width: 77.5vw;
}

nav{
    background-color:gray;
}

#blog_description{
    font-size: 11px; 
    background-color: darkgray; 
    border-radius: 3%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.author-img{
    background-image: url(\\$REPO$/Assets/images/DP.png); height: 256px; width: 256px;
}

aside{
    margin: 0 -10vw;
    background-color: transparent;
}

#Xbooks-logo-text{
    font-family: fantasy;
    color: grey;
}

#blog-home-explorer{
    color:grey;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#description-pallete{
    background-color: darkgray;
    border-radius: 3%;
}

#author-name{
    color: whitesmoke;
}

#pen-name{
    color:darkslategray;
}

.navs{
    cursor: pointer;
}

#bottom-bar{
    background-color: rgb(24, 26, 27,0.5);
}